<% include ../partials/boilerplate %>

<div class="loginContainer">
    <h1>PLEASE LOGIN</h1>
    <form class="loginForm"  method='POST' action='/auth/login'>
        <div class="loginInputRow">
        <input name='username' type='text' placeholder='username' required />
        <input name='password' type='password' placeholder='password' required />
        </div>
         <div class="loginInputRow">
        <input type='submit' value='Log in!' />
         </div>
    </form>
</div>

<% include ../partials/end %>