<% include ../partials/boilerplate %>

<div class="registerContainer">
    <h1>PLEASE REGISTER</h1>
    <form class="registerForm" method='POST' action='/auth/register'>
        <div class="inputRow">
            <input name='username' type='text' placeholder='username' required />
            <input name='password' type='password' placeholder='password' required />
       </div>
        <div class="inputRow">
            <input name='first_name' type='text' placeholder='First Name' required />
            <input name='last_name' type='text' placeholder='Last Name' required />
        </div>
        <div class="inputRow">    
            <input name='email' type='email' placeholder='email' required />
        </div>
        <input type='submit' value='Register!' />
    </form>
</div>


<% include ../partials/end %>