<% include ./partials/boilerplate %>
<div class="homeContainer">
    <div class="homeRow1">
        <h1>WELCOME TO TOP FACT</h1>
        <div class="logo"></div>
    </div>
    <div class="homeRow2">
        <a href='/auth/login'>Login</a>
        <a href='/auth/register'>Register</a>
    </div>
</div>
<% include ./partials/end %>