<% include ../partials/boilerplate %>
<h1>WELCOME TO TOP FACT </h1>
<p>questions: <%= trivia[0].question %></p>
<p>Humidity: <%= trivia[0].correct_answer %></p>
<a href='/trivia'>trivia</a>
<% include ../partials/end %>